.HomeHeader{
    background-image: url('../../../assets/img/home_head_background.png');
    background-repeat: no-repeat; 
    background-size: 100%;
    background-attachment: fixed;
    clear: both;
    width: 100%;
    height: 100vh;
    min-height: fit-content;
}

.HomeHeader > .Anchors{
    float: left;
    width: 45%;
    margin: 0%;
    padding-top: 5%;
    padding-left: 10%;
}

.HomeHeader > .Anchors > p{
    float: left;
    color: #fff;
    letter-spacing: 3px;
    width: 10%;
    text-transform: uppercase;
    font-family: Rubik-Medium;
    font-size: 11px;
    font-weight: bold;
    margin: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 9%;
    padding-right: 0%;
}

.HomeHeader > .DownloadNow{
    float: left;
    margin: 0%;
    padding-top: 4%;
    padding-left: 2%;
}

.HomeHeader > .DownloadNow > button{
    width: 150px;
    height: 40px;
    border-radius:28px;
    border:1px solid #7732c1;
    background-color: #7732c1;
    color: #fff;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: bold;
	display:inline-block;
	cursor:pointer;
}

.HomeHeader > .DownloadNow > button:hover{
    background-color: #6621b0;
}

.HomeHeader > .DownloadNow > button:active{
    position:relative;
	top:1px;
}

.HomeHeader > .MenuBars{
    float: left;
    padding-top: 4%;
    padding-left: 2.5%;
}

.HomeHeader > .MenuBars > p{
    float: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.HomeHeader > .MenuBars > #Menu{
    font-family: Rubik-Medium;
    font-size: 12px;
    font-weight: bold;
}

.HomeHeader > .MenuBars > #Bars{
    font-family: Font-Awesome-5-Free;
    font-size: 13px;
}

.HomeHeader > .Title{
    width: fit-content;
    float: left;
    padding: 0%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-right: 0%;
    font-family: Gilroy-Bold;
    font-size: 45px;
    color: #fff;
}

.HomeHeader > .About{
    width: fit-content;
    padding-top: 18%;
    padding-left: 20%;
    color: #fff;
    font-family: Gilroy-Bold;
    font-size: 37px;
}

.HomeHeader > .About > h1{
    width: fit-content;
    max-width: 515px;
    text-align: left;
    margin: 0%;
    padding: 0%;
}

.HomeHeader > .About > p{
    width: fit-content;
    max-width: 420px;
    margin: 0%;
    padding: 0%;
    padding-top: 4%;
    text-align: left;
    font-family: Rubik-Regular;
    font-size: 14px;
}

.HomeHeader > .Buttons{
    width: 22%;
    padding-top: 2.5%;
    padding-left: 20%;
}

.HomeHeader > .Buttons > button{
    width: 45%;
    height: 40px;
    border-radius:28px;
    color: #fff;
    cursor:pointer;
    font-family: Gilroy-Bold;
    font-size: 12px;
}

.HomeHeader > .Buttons > #GetStarted{
    margin-right: 10%;
    border:2px solid #ff9d60;
    background-color: #ff9d60;
}

.HomeHeader > .Buttons > #GetStarted:hover{
    border:2px solid #ee8c49;
    background-color: #ee8c49;
}

.HomeHeader > .Buttons > #LearnMore{
    border:2px solid #af86e7;
    background-color: #0000;
}

.HomeHeader > .Buttons > #LearnMore:hover{
    border:2px solid #af86e7;
    background-color: #88888880;
}

.HomeHeader > .Buttons > button:active{
    position:relative;
	top:1px;
}

@media all and (max-width: 1920px) {

}

@media all and (max-width: 1366px) {
    
}

@media all and (max-width: 1280px) {
    
}

@media all and (max-width: 1024px) {
    
}

@media all and (max-width: 980px) {
    
}

@media all and (max-width: 768px) {
    
}

@media all and (max-width: 480px) {
    
}

@media all and (max-width: 360px) {
    
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../../../assets/font/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Rubik-Medium;
    src: url(../../../assets/font/Rubik-Medium.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../../../assets/font/Rubik-Regular.ttf);
}

@font-face {
    font-family: Font-Awesome-5-Free;
    src: url(../../../assets/font/Font-Awesome-5-Free.otf);
}